@import url('https://fonts.googleapis.com/css?family=Cousine');
.jumbotron 	{
	background-image: url('../img/backgrounds/landing.jpg');
	height: 636px;
}
.logo	{
	text-align: center;
	color: #ffffff;
	padding-top: 90px;
}
.logo p {
	padding-top: 20px;
}
.foodtop div	{
	height: 210px;
	text-align: center;
	color: #fff;
	padding: 0px;
	margin: 0px;
}
.foodtop div p {
	padding-top: 105px
}
.foodtop div .black{
	color:#000000;
}
.foodtop div div p{
	padding-top: 50px;
}
.breakfast {
	background-image: url('../img/foodtop/breakfast.jpg');
}
.lunch	{
	background-image: url('../img/foodtop/lunch.jpg');
}
.dinner	{
	background-image: url('../img/foodtop/dinner.jpg');
}
.foodtop div.short-div {
  height:105px;
}
/*third row fast food section*/
.fast-food .thumbnail:hover,
.drinks .thumbnail:hover	{
	border: 1px solid #ddd;
  border-radius: 4px;
 	border-color: #337ab7;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.fast-food	{
	padding: 100px;
}
.fast-food .thumbnail	{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 520px;
}
.fast-food .thumbnail img {
	margin-right: 0px;
	margin-left: 0px;
}

/*third row drinks section*/
.drinks	{
	text-align: right;

}
.drinks .thumbnail	{
	width: 530px;
	height: 430px;
	padding: 15px;
}
.drinks .thumbnail div img{
	float: left;
}
.gallery-button {
	background-color: #fff;
	border-width: 3px 3px 3px 3px;
	border-color: #d8512e;
	color: #d8512e;
	border-color: #d8512e;
}

/*MENU SECION*/
.menu	{
	background-image: url('../img/foodsBg.jpg');


}
.menu .menu-item{
	margin-left: 220px;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
	background-color: #fff;
	width: 970px;
	height: 330px;

}
.gallery div{
	float: left;
	margin-left: 25px;

}
.gallery p {
	padding-top: 5px;
	color: #d8512e;
}
/*Newsletter edits*/
.newsletter {
	background-image: url('../img/backgrounds/subscribe.jpg');
	height: 301px;
	color: #fff;
	text-align: center;
}

/*customers*/
.well	{
	margin:  50px 200px; 
	text-align: center;
/*	box-shadow:  5px 10px black;*/
}
.well h3	{
	color: #d8512e;
}
.vl {
    border-left: 1px solid black;
    height: 150px;
}
.newsletter .center	{
	padding-top: 100px;
}
.footer {
	background-color: #d8512e;
	height: auto;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	padding: 25px;

}
.col-centered{
float: none;
margin: 0 auto;
}

.footer h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 40px;
}
.footer .social	{
	padding: 10px;
}
.footer p {
	padding: 10px;
}