.jumbotron 	{
	background-image: url('../img/backgrounds/landing.jpg');
	height: 636px;

}
.logo	{
	text-align: center;
	color: #ffffff;
	padding-top: 90px;
}
.logo p {
	padding-top: 20px;
}
.foodtop div	{
	height: 210px;
	text-align: center;
	color: #fff;
	padding: 0px;
	margin: 0px;
}
.foodtop div p {
	padding-top: 105px
}
.foodtop div .black{
	color:#000000;
}
.foodtop div div p{
	padding-top: 50px;
}
.breakfast {
	background-image: url('../img/foodtop/breakfast.jpg');
}
.lunch	{
	background-image: url('../img/foodtop/lunch.jpg');
}
.dinner	{
	background-image: url('../img/foodtop/dinner.jpg');
}
.foodtop div.short-div {
  height:105px;
}
/*third row fast food section*/
.fast-food	{
	padding: 100px;
}
.fast-food .thumbnail	{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 520px;
}
.fast-food .thumbnail img {
	margin-right: 0px;
	margin-left: 0px;
}

/*third row drinks section*/
.drinks	{
	text-align: right;

}
.drinks .thumbnail	{
	width: 530px;
	height: 430px;
	padding: 15px;
}
.drinks .thumbnail div img{
	float: left;
}
.gallery-button {
	background-color: #fff;
	border-width: 3px 3px 3px 3px;
	border-color: #d8512e;
	color: #d8512e;
	border-color: #d8512e;
}

/*MENU SECION*/
.menu	{
	background-image: url('../img/foodsBg.jpg');

}
.menu .menu-item{
	margin: 50px;
	padding-left: 0px;
	text-align: center;
	background-color: #fff;
	width: 900px;
	height: 300px;

}